.App {
  text-align: center;
  background-color: #212124;
  margin-top: 0;
}

.LeftColumn {
  display: inline-block;
}

.RightColumn {
  display: inline-block;
}

.Chart {
  margin-top: 3%;
}

.Title {
  color: white;
}

.Columns {
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  margin-top: 2.5%;
  width: 77.2%;
  justify-content: space-evenly;
  display: flex;
  background-color: #1e1e21;
}
